body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #3c3c6f;
}
.head-container {
  color: white;
}

.main-container {
  height: 100%;
  width: 80%;
  margin: 0 10% 0 10%;
  text-align: center;
}
.maintext {
  color: #dc8b78;
}
.table-header th {
  border: none;
  background-color: #3c3c6f;
  color: yellow;
}

.table-container {
  margin-top: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  color: aliceblue;
}
.selected-row .maintext th {
  background-color: gray;
  color: white;
}

th,
td {
  border: 1px solid black;
  padding: 15px;
}

tr:nth-child(even) {
  background-color: #3c3c6f;
}
tr:nth-child(odd) {
  background-color: #42428e;
}
